.admin-register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ffeaea;
}

.admin-register-box {
  width: 380px;
  background: #ffffff;
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.admin-title {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #b30000;
}

.admin-input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.admin-input-field label {
  font-size: 14px;
  margin-bottom: 4px;
  color: #444;
}

.admin-input-field input {
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
}

.admin-input-field input:focus {
  border-color: #c70000;
  box-shadow: 0 0 4px rgba(199, 0, 0, 0.3);
}

.admin-btn {
  width: 100%;
  padding: 10px;
  background: #b30000;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.admin-btn:hover {
  background: #800000;
}

.admin-login-text {
  font-size: 14px;
  text-align: center;
  margin-top: 13px;
}

.admin-login-text a {
  color: #b30000;
  font-weight: 600;
  text-decoration: none;
}

.admin-login-text a:hover {
  text-decoration: underline;
}
