.home-container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #879cf0, #eaf3ff);
  padding: 20px;
}

.home-header {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
}

.home-header h2 {
  font-size: 26px;
  color: #fff;
}

.profile-icon {
  color: #fff;
  cursor: pointer;
}

.welcome-card {
  background: #fff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 14px;
  text-align: center;
  shadow: 0px 3px 10px rgba(0,0,0,0.15);
  animation: fadeIn 1s ease;
}

.welcome-card h3 {
  color: #2a2a2a;
  font-size: 22px;
  margin-bottom: 6px;
}

.action-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  gap: 14px;
  margin-bottom: 20px;
}

.action-btn {
  background: #fff;
  padding: 13px;
  border-radius: 10px;
  text-decoration: none;
  color: #4f46e5;
  font-weight: 600;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  transition: 0.3s;
}

.action-btn:hover {
  background: #4f46e5;
  color: #fff;
}

.logout {
  background: #e53935 !important;
  color: white;
}

.logout:hover {
  background: #c62828 !important;
}

.announcement {
  background: #fff;
  padding: 15px 18px;
  border-radius: 12px;
}

.announcement h4 {
  color: #333;
  margin-bottom: 10px;
}

.announcement ul {
  margin: 0;
  padding: 0 0 0 16px;
}

.announcement li {
  margin-bottom: 6px;
  font-size: 14px;
  color: #333;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
